/* global.css */

body {
  background-color: #faf5ff !important;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Zorg dat alle containers van Drupal 'meekleuren' */
#page-wrapper,
#page,
main,
.layout-container {
  background: transparent !important;
  background-color: transparent !important;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #0d121f;
}

::-webkit-scrollbar-track {
  background-color: rgba(99, 51, 234, 0.03);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6333ea 0%, #2d1a3d 100%);
  border-radius: 10px;
  border: 2px solid #0d121f;
}

::-webkit-scrollbar-thumb:hover {
  background: #6333ea;
}